@import "mixins/shared";
@import "variables";
@import "menu";

@retina-screen-desktop: 50em;
@retina-screen-desktop-large: 61.250em;
@retina-screen-tablet: 49.938em;
@retina-screen-phone-large: 38.688em;
@retina-screen-phone: 32.5em;

@retina-colors: rgb(208, 101, 3),
rgb(233, 147, 26),
rgb(22, 145, 190),
rgb(22, 107, 162),
rgb(27, 54, 71),
rgb(21, 40, 54);
@retina-background-colors: rgb(227, 119, 20),
rgb(245, 160, 41),
rgb(44, 168, 219),
rgb(31, 120, 176),
rgb(39, 70, 90),
rgb(32, 54, 68);
@retina-border-colors: rgb(174, 78, 1),
rgb(191, 117, 20),
rgb(12, 110, 149),
rgb(10, 75, 117),
rgb(16, 34, 44),
rgb(9, 18, 25);
@retina-colors-length: length(@retina-colors);

.loop-retina-colors(@counter, @type) when (@counter > 0) {
  .loop-retina-colors((@counter - 1), @type);

  & when (@type = 'background') {
    .nav li:nth-child(@{retina-colors-length}n+@{counter}) {
      background: extract(@retina-colors, @counter);
    }
  }

  & when (@type = 'border-bottom') {
    .nav li:nth-child(@{retina-colors-length}n+@{counter}) a:hover,
    .nav li:nth-child(@{retina-colors-length}n+@{counter}) a:active,
    .nav li:nth-child(@{retina-colors-length}n+@{counter}) a:focus {
      border-bottom: 4px solid extract(@retina-border-colors, @counter);
    }
  }

  & when (@type = 'background') {
    .nav li:nth-child(@{retina-colors-length}n+@{counter}) a:hover,
    .nav li:nth-child(@{retina-colors-length}n+@{counter}) a:active,
    .nav li:nth-child(@{retina-colors-length}n+@{counter}) a:focus {
      background: extract(@retina-background-colors, @counter);
    }
  }

  & when (@type = 'border-left') {
    .nav li:nth-child(@{retina-colors-length}n+@{counter}) {
      border-left: 8px solid extract(@retina-border-colors, @counter);;
    }
  }
}

.no-touch .retina-menu {
  .nav ul:hover a {
    color: rgba(249, 249, 249, .5);
  }

  .nav ul:hover a:hover {
    color: rgba(249, 249, 249, 0.99);
  }

  @media (min-width: @retina-screen-desktop) {
    .loop-retina-colors(@retina-colors-length, 'border-bottom');

    .nav a:hover {
      height: 10em;
    }

    .nav a:hover .icon + span {
      margin-top: 3.2em;
      .transition(margin .5s);
    }

    .nav a:hover i,
    .nav a:active i,
    .nav a:focus i {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
      .transition(box-shadow .4s ease-in-out);
    }
  }

  @media (max-width: @retina-screen-tablet) {
    .loop-retina-colors(@retina-colors-length, 'background');
  }

  @media (min-width: @retina-screen-phone) and (max-width: @retina-screen-tablet) {
    .nav li:hover i,
    .nav li:active i,
    .nav li:focus i {
      border: 4px solid rgba(255, 255, 255, 0.1);
    }
  }

}

.no-js .retina-menu {
  @media (max-width: @retina-screen-phone) {
    .nav ul {
      max-height: 30em;
      overflow: hidden;
    }
  }
}

.js .retina-menu {
  @media (max-width: @retina-screen-phone) {
    .nav ul {
      max-height: 0em;
      overflow: hidden;
    }

    .nav .active + ul {
      max-height: 30em;
      overflow: hidden;
      .transition(max-height .4s);
    }
  }
}

.touch .retina-menu {
  @media (max-width: @retina-screen-phone) {
    .nav a {
      padding: 0.8em;
    }
  }
}

.retina-menu {

  .icon-any {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  .icon-team,
  .icon-blog,
  .icon-home,
  .icon-portfolio,
  .icon-services,
  .icon-contact,
  .icon-menu {
    font-family: 'icomoon';
  }

  .icon-team::before {
    content: @icomoon-users;
  }

  .icon-blog::before {
    content: @icomoon-blog;
  }

  .icon-home::before {
    content: @icomoon-home;
  }

  .icon-portfolio::before {
    content: @icomoon-stack;
  }

  .icon-services::before {
    content: @icomoon-lab;
  }

  .icon-contact::before {
    content: @icomoon-address-book;
  }

  .icon-menu::before {
    content: @icomoon-menu;
  }

  .nav ul {
    max-width: 1240px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.5em;
    font-weight: 300;
  }

  .nav li span {
    display: block;
  }

  .nav a {
    display: block;
    color: rgba(249, 249, 249, .9);
    text-decoration: none;
    .transition(color .5s);
    .transition(background .5s);
    .transition(height .5s);
  }

  .nav i {
    .translate3d(0, 0, 0);
  }

  a, li {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  a, button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .loop-retina-colors(@retina-colors-length, 'background');

  @media (min-width: @retina-screen-desktop) {
    .nav li {
      float: left;
      width: percentage(1/@retina-colors-length);
      text-align: center;
      .transition(border .5s);
    }

    .nav a {
      display: block;
      width: auto;
    }

    .icon {
      padding-top: 1.4em;
    }

    .icon + span {
      margin-top: 2.1em;
      .transition(margin .5s);
    }

    .nav a {
      height: 9em;
    }

    .nav a:active,
    .nav a:focus {
      height: 10em;
    }

    .nav i {
      position: relative;
      display: inline-block;
      margin: 0 auto;
      padding: 0.4em;
      border-radius: 50%;
      font-size: 1.8em;
      box-shadow: 0 0 0 30px transparent;
      background: rgba(255, 255, 255, 0.1);
      .translate3d(0, 0, 0);
      .transition(box-shadow .6s ease-in-out);
    }
  }

  @media (min-width: @retina-screen-desktop) and (max-width: @retina-screen-desktop-large) {

    .nav ul {
      font-size: 1.2em;
    }

  }

  @media (max-width: @retina-screen-tablet) {

    .nav ul li {
      .transition(background 0.5s);
    }

  }

  @media (min-width: @retina-screen-phone) and (max-width: @retina-screen-tablet) {

    .nav li {
      display: block;
      float: left;
      width: 50%;
    }

    .nav a {
      padding: 0.8em;
    }

    .nav li span,
    .nav li span.icon {
      display: inline-block;
    }

    .nav li span.icon {
      width: 50%;
    }

    .nav li .icon + span {
      font-size: 1em;
    }

    .icon + span {
      position: relative;
      top: -0.2em;
    }

    .nav li i {
      display: inline-block;
      padding: 8% 9%;
      border: 4px solid transparent;
      border-radius: 50%;
      font-size: 1.5em;
      background: rgba(255, 255, 255, 0.1);
      .transition(border .5s);
    }

    /* Transition effect on the border color */
    .no-touch .nav li:hover i,
    .no-touch .nav li:active i,
    .no-touch .nav li:focus i {
      border: 4px solid rgba(255, 255, 255, 0.1);
    }

  }

  @media (min-width: @retina-screen-phone) and (max-width: @retina-screen-phone-large) {
    .nav li span.icon {
      width: 50%;
    }

    .nav li .icon + span {
      font-size: 0.9em;
    }
  }

  .nav .nav-toogle {
    display: none;
    width: 100%;
    padding: 0.5em 0.5em 0.8em;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: normal;
    text-align: left;
    color: rgb(7, 16, 15);
    font-size: 1.2em;
    background: none;
    border: none;
    border-bottom: 4px solid rgb(221, 221, 221);
    cursor: pointer;
  }

  .nav-toogle i {
    z-index: -1;
  }

  .icon-menu {
    position: relative;
    top: 3px;
    line-height: 0;
    font-size: 1.6em;
  }

  @media (max-width: @retina-screen-phone) {
    .nav .nav-toogle {
      margin: 0;
      display: block;
    }

    .nav li span {
      display: inline-block;
      height: 100%;
    }

    .nav a {
      padding: 0.5em;
    }

    .icon + span {
      margin-left: 1em;
      font-size: 0.8em;
    }

    .loop-retina-colors(@retina-colors-length, 'border-left');
  }
}


