.container
  ul.gn-menu-main
    li.gn-trigger
      a.gn-icon.gn-icon-menu
        span Menu
      nav.gn-menu-wrapper
        .gn-scroller
          ul.gn-menu
            li.gn-search-item
              input.gn-search(type='search', placeholder='Search')
              a.gn-icon.gn-icon-search
                span Search
            li
              a.gn-icon.gn-icon-download Downloads
              ul.gn-submenu
                li
                  a.gn-icon.gn-icon-illustrator Vector Illustrations
                li
                  a.gn-icon.gn-icon-illustrator Photoshop files
            li
              a.gn-icon.gn-icon-cog Downloads
            li
              a.gn-icon.gn-icon-help Help
            li
              a.gn-icon.gn-icon-archive Downloads
              ul.gn-submenu
                li
                  a.gn-icon.gn-icon-article Vector Illustrations
                li
                  a.gn-icon.gn-icon-pictures Photoshop files
                li
                  a.gn-icon.gn-icon-videos Videos
    li
      a(href='#') Advanced Search
    li
      a(href='#') LOGO