extends ../layouts/default

block header
  //.header(ng-controller='Header')
  //  include ../includes/t1/header
  .nexus-menu

block main
  //div(style='width:100%;min-height:100%;display:block;')
  //  .stock-trend-chart(data='[1,2,3]')

block footer
  .footer
