extends ../layouts/default

block header
  .header(ng-controller='Header')
    include ../includes/t1/header

block main
  //div(style='width:600px;')
  //  .stock-trend-chart(data='[1,2,3]')

block footer
  .footer
